<<<<<<< HEAD
.bookItem {
    text-align: center;
    display: flex;
    margin-right: 90px;
    margin-bottom: 50px;
}
.giasach{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
.bookItem img{
 width: 220px;
 height: 332px;
 border-radius: 20px;
=======
.bookItem img{
 width: 237px;
 height: 332px;
>>>>>>> 0e901eb9e2d633f1bc4871ff9a193f55ed398c81
}

